services:
  backend:
    env_file:
      - .env
    command: uvicorn backend.app:app --host ${OWUI_API_HOST:-0.0.0.0} --port ${OWUI_API_PORT:-8502} --reload
    volumes:
      - ./backend:/app/backend:rw

  frontend-next:
    build:
      context: .
      dockerfile: Dockerfile
      target: frontend-next-dev
    command: >
      sh -c "corepack enable &&
      pnpm install &&
      pnpm dev"
    env_file:
      - .env
    volumes:
      - ./frontend-next:/app:rw
      - frontend_next_node_modules:/app/node_modules
    environment:
      NODE_ENV: development
      ENV: DEV
